.page__content {
    margin-top: 53px;
}


@media screen and (max-width: 1100px) {
    .page__content {
        margin-top: 48px;
    }
}


@media screen and (max-width: 767px) {
    .page__content {        
        width: 100%;

    }
}