.footer__links {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 16px;
    }
}