.footer__copyrigth {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

@media screen and (max-width:767px) {
    .footer__copyrigth {

        line-height: 14px;
        margin-top: 0;
    }
}