.lead__image {
    padding-top: 0;
    width: 984px;
    height: auto;
    /* object-fit: cover; */

}


@media screen and (max-width: 1100px) {
    .lead__image {
        width: 928px;
        /* width: 100vw;
        max-width: 100%; */

    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        width: 768px;
        /* width: 100vw; */
        height: auto;
        min-height: 100%;
        max-width: 100%;
    }
}






@media screen and (max-width: 767px) {
    .lead__image {
        margin-left: 0;
        width: 320px;
        height: 200px;
    }
}