.place__website-link {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 1;
    transition: opacity .5s ease-out;
}

@media screen and (max-width: 767px) {
    .place__website-link {
        margin-left: 16px;
        margin-right: 16px;
    }
}